body {
    font-family:'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.header {
    padding: 16px;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, p {
    flex: 1;
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    margin-top: 32px;
}

.books {
    display: grid;
    width: 50vw;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 20px;
}

.book-card {
    background-color: #FFFFFF;
    height: 150px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    border-left: 4px solid lightblue;
    display: grid;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
}