body {
    font-family:'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.header {
    padding: 16px;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, p {
    flex: 1;
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    margin-top: 32px;
}

.form-grid {
    display: grid;
    width: 50vw;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    align-items: center;
    justify-content: center;
}

input {
    width: 90%;
}

.pages-con input,
.button-con {
    width: 100px;
}

.books {
    display: grid;
    width: 50vw;
    grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.book-card {
    background-color: #FFFFFF;
    height: 150px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    border-left: 4px solid lightblue;
    font-weight: bold;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.book-card p {
    grid-column: 1 / -1;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
}